.preview {
  width: 100%;
  height: 100vh;
  background-color: var(--white);

  &.is-ended {
    .preview__status {
      background-color: var(--red);
    }

    .preview__amount {
      background-color: var(--red);
      color: var(--white);
      opacity: 1;

      @include media(sm) {
        background-color: transparent;
        color: var(--black);

        span {
          color: var(--red);
        }
      }
    }


    .preview__number {
      opacity: 1;
      span {
        color: var(--primary);
      }
    }

    .preview-copy-link {
      pointer-events: auto;
      color: var(--black);
      opacity: 1;

      &:hover {
        color: var(--primary);
      }

      @media(max-width: 1279px) {
        color: var(--primary);
      }

      @include media(sm) {
        color: var(--primary);
      }
    }
  }

  &.is-sended {

    .preview__amount {
      color: var(--black);
      opacity: 1;

      span {
        color: var(--primary);
      }
    }

    .preview__number {
      opacity: 1;

      span {
        color: var(--primary);
      }
    }

    .preview-copy-link {
      pointer-events: auto;
      color: var(--black);
      opacity: 1;

      &:hover {
        color: var(--primary);
      }

      @media(max-width: 1279px) {
        color: var(--primary);
      }

      @include media(sm) {
        color: var(--primary);
      }
    }
  }

  @media(max-width: 1279px) {
    overflow-y: auto;
  }

  &-wrap {
    display: flex;
    align-items: stretch;

    @media(max-width: 1279px) {
      max-width: 822px;
      margin: 0 auto;
      flex-direction: column;
      padding: 64px 20px 96px;
      position: relative;
    }

    @include media(sm) {
      padding: 0 0 64px;
    }
  }

  &-gallery {
    max-width: 1010px;
    width: 100%;
    flex-shrink: 0;
    height: 100vh;

    .slider-next {
      right: 40px;

      @media(max-width: 1600px) {
        right: 32px;
      }
    }

    .slider-prev {
      left: 40px;
      
      @media(max-width: 1600px) {
        left: 32px;
      }
    }

    @media(min-width: 2000px) {
      max-width: 50%;
    }

    @media (max-width: 1919px) {
      max-width: 954px;
    }

    @media (max-width: 1599px) {
      max-width: 650px;
    }

    @include media(lg) {
      max-width: 50%;
    }

    @media(max-width: 1279px) {
      max-width: 100%;
      margin-bottom: 32px;
      height: auto;

      img {
        border-radius: 12px;
        border: 1px solid var(--border-grey);
      }
    }

    @include media(sm) {
      margin-bottom: 24px;
      img {
        border-radius: 0px;
        border: none;
      }
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &-head {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    padding: 72px 96px 40px;
    background-color: var(--white);

    @media(max-width: 1919px) {
      padding: 48px 56px 32px;
    }

    @media(max-width: 1279px) {
      padding: 0;
    }
  }

  &-content {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: auto;

    @media(max-width: 1279px) {
      padding: 0 0px;
      height: auto;
      overflow: hidden;
    }

    @include media(sm) {
      padding: 0 20px;
    }
  }

  &-main {
    // padding: 72px 96px;

    // @media (max-width: 1919px) {
    //   padding: 48px 56px;
    // }

    // @media(max-width: 1279px) {
    //   padding: 0;
    // }
  }

  &__type {
    font-size: 28px;
    line-height: 34px;
    margin-bottom: 16px;
    color: var(--primary);
    font-weight: 600;

    @media (max-width: 1599px) {
      margin-bottom: 12px;
      font-size: 22px;
      line-height: 32px;
    }

    @media(max-width: 1279px) {
      margin-bottom: 8px;
    }

    @include media(sm) {
      font-size: 20px;
      line-height: 28px;
      margin-bottom: 4px;
    }

    @media(max-width: 359px) {
      font-size: 18px;
    }
  }

  &__name {
    font-size: 44px;
    line-height: 62px;
    font-weight: 600;
    margin-bottom: 24px;

    @media (max-width: 1919px) {
      font-size: 40px;
      line-height: 52px;
    }

    @media (max-width: 1599px) {
      font-size: 32px;
      line-height: 42px;
      margin-bottom: 20px;
    }

    @include media(sm) {
      font-size: 28px;
      line-height: 42px;
      margin-bottom: 16px;
    }

    @media(max-width: 359px) {
      font-size: 24px;
      line-height: 34px;
    }
  }

  &-info {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;

    @media(max-width: 1600px) {
      margin-bottom: 32px;
    }

    @media(max-width: 1280px) {
      gap: 12px;
    }

    @media(max-width: 1279px) {
      margin-bottom: 24px;
      gap: 16px;
    }

    &__item {
      padding: 6px 16px;
      border-radius: 6px;
      font-size: 18px;
      line-height: 28px;
      background: #f5f5f6;
      opacity: 0.6;
      font-weight: 600;

      @media(max-width: 1280px) {
        padding: 4px 12px;
        font-size: 16px;
        line-height: 24px;
      }

      @media(max-width: 1279px) {
        padding: 6px 16px;
        font-size: 18px;
        line-height: 28px;
      }

      @include media(sm) {
        border-radius: 6px;
      }

      @media(max-width: 359px) {
        border-radius: 4px;
      }
    }

    @include media(sm) {
      margin-bottom: 24px;
      gap: 16px;

      &__item {
        padding: 6px 16px;
        font-size: 18px;
        line-height: 28px;
      }
    }

    @media(max-width: 359px) {
      margin-bottom: 20px;
      gap: 12px;

      &__item {
        padding: 3px 12px;
        font-size: 16px;
        line-height: 26px;
      }
    }
  }

  &__amount {
    @include media(sm) {
      display: none;
    }
  }

  &__price {
    background-color: var(--primary);
    color: var(--white);
    opacity: 1;
  }

  &-desc {
    padding: 0 96px;

    @media(max-width: 1919px) {
      padding: 0 56px;
    }

    @media(max-width: 1279px) {
      padding: 0;
    }

    p {
      font-size: 18px;
      line-height: 28px;

      + p {
        margin-top: 16px;
      }

      @media(max-width: 1279px) {
        font-size: 16px;
        line-height: 26px;
      }
    }

    &__more {
      display: none;

      @media(max-width: 1279px) {
        display: block;
        font-size: 16px;
        line-height: 26px;
        margin-top: 8px;
        font-weight: 600;
        color: var(--primary);
      }
    }

    &__text {
      @media(max-width: 1279px) {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 4;
        overflow: hidden;
        text-overflow: ellipsis;

        &.is-active {
          -webkit-box-orient: vertical;
          -webkit-line-clamp: initial;
          overflow: visible;
        }
      }

      @include media(sm) {
        -webkit-line-clamp: 6;
      }
    }
  }

  &-recepient {
    margin: auto 0 0 0;
    padding: 23px 96px;
    border-bottom: 1px solid var(--border-grey);
    border-top: 1px solid var(--border-grey);

    @media (max-width: 1919px) {
      padding: 23px 56px;
    }

    @media(max-width: 1279px) {
      padding: 20px 23px;
      background: rgba(245, 245, 246, 0.5);
      /* Border/Grey */

      border: 1px solid #eaecf1;
      border-radius: 8px;
      margin-top: 32px;
    }

    @include media(sm) {
      padding: 0;
      background-color: transparent;
      border: none;
      margin-top: 40px;
    }
  }

  &-copy-link {
    padding: 20px;
    display: flex;
    justify-content: center;
    gap: 12px;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
    color: var(--grey);
    pointer-events: none;

    &:hover {
      color: var(--primary);
    }

    @media(max-width: 1279px) {
      padding: 15px;
      margin-top: 20px;
      border: 1px solid var(--border-grey);
      border-radius: 8px;
      opacity: .6;
      font-weight: 600;
    }

    @include media(sm) {
      display: none;
    }
  }

  &-bottom {
    background-color: var(--white);
    position: sticky;
    bottom: 0;
    right: 0;
    left: 0;
    padding-top: 72px;

    @media(max-width: 1600px) {
      padding-top: 40px;
    }

    @media(max-width: 1279px) {
      position: static;
      padding-top: 0;
    }
  }

  &-dev {
    display: none;

    @media(max-width: 1279px) {
      position: static;
      background: transparent;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      font-size: 18px;
      line-height: 28px;
      gap: 5px;
      color: var(--grey);
      font-weight: 500;
      margin-top: 32px;

      span {
        color: var(--primary);
      }
    }

    @include media(sm) {
      margin-top: 40px;
    }

    @include media(sm) {
      font-size: 16px;
      line-height: 26px;
    }

    &__desk {
      position: fixed;
      bottom: 40px;
      left: 40px;
      color: var(--white);
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      padding: 4px 12px;
      background: var(--black);
      z-index: 5;
      opacity: 0.4;
      border-radius: 4px;

      @media(max-width: 1600px) {
        left: 32px;
        bottom: 32px;
      }

      @media(max-width: 1279px) {
        display: none;
      }
    }
  }

  &-box {
    display: none;

    @include media(sm) {
      display: block;
      background: rgba(245, 245, 246, 0.5);
      margin-top: 40px;
      /* Border/Grey */

      border: 1px solid #eaecf1;
      border-radius: 6px;
      padding: 15px;

      .preview__amount {
        display: block;
        margin-bottom: 16px;
        font-size: 16px;
        line-height: 26px;
        text-align: center;
        color: var(--grey);
        opacity: .6;
      }

      .preview-copy-link {
        display: flex;
        padding: 11px 18px;
        background-color: var(--white);
        border: 1px solid #eaecf1;
        border-radius: 6px;
        margin-top: 16px;
        font-weight: 600;
        color: var(--grey);
      }
    }

    .preview__amount {
      color: var(--grey);
    }
  }

  &__status {
    display: flex;
    position: absolute;
    align-items: center;
    gap: 10px;
    color: var(--white);
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    background-color: #232124;
    padding: 6px 16px;
    z-index: 5;
    top: 40px;
    left: 40px;
    border-radius: 6px;

    @media(max-width: 1600px) {
      top: 32px;
      left: 32px;
    }

    @media(max-width: 1280px) {
      padding: 4px 12px;
      gap: 8px;
      font-size: 16px;
      line-height: 24px;

      svg {
        display: block;
        width: 16px;
        height: 16px;
      }
    }

    @media(max-width: 1279px) {
      top: 88px;
      left: 44px;
      padding: 6px 16px;
      font-size: 18px;
      line-height: 28px;
      gap: 10px;

      svg {
        width: 24px;
        height: 24px;
      }
    }

    @include media(sm) {
      justify-content: center;
      width: 100%;
      padding: 8px;
      position: static;
      font-size: 16px;
      line-height: 24px;
      gap: 10px;
      border-radius: 0;
    }
  }
}

.recepient {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;

  @include media(sm) {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &-main {
    max-width: 458px;
    display: flex;
    gap: 20px;

    @include media(sm) {
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }

    @media(max-width: 370px) {
      gap: 16px;
    }
  }

  &__img {
    display: block;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #f5f5f6;
    flex-shrink: 0;

    img {
      display: block;
      width: 48px;
      height: 48px;
      object-fit: cover;
      object-position: center;
    }

    @include media(sm) {
      width: 80px;
      height: 80px;

      img  {
        width: 80px;
        height: 80px;
      }
    }
  }

  &__name {
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;

    @media(max-width:1600px) {
      max-width: 276px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    @media(max-width: 1279px) {
      max-width: initial;
      margin-bottom: 2px;
      margin-top: -1px;
    }

    @include media(sm) {
      line-height: 26px;
      margin-bottom: 4px;
    }
  }

  &__desc {
    font-size: 14px;
    line-height: 24px;

    
    @media(max-width:1600px) {
      max-width: 276px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    @media(max-width: 1279px) {
      max-width: initial;
    }
  }

  &__btn {
    max-width: 180px;

    @media(max-width: 1600px) {
      max-width: 158px;
    }

    @media(max-width: 1280px) {
      max-width: 140px;
    }

    @media(max-width: 1279px) {
      max-width: 168px;
      margin-top: -1px;
    }

    @include media(sm) {
      max-width: 100%;
      width: 100%;
    }
  }
}
