.page-sendings {
  @include media(md) {
    padding: 48px 0 96px;

    .page-head {
      margin-bottom: 40px;
    }
  }

  @include media(sm) {
    padding: 32px 0 112px;

    .page-head {
      margin-bottom: 32px;
    }
  }
}


.sendings-table {
  background-color: var(--white);
  border: 1px solid var(--border-grey);
  border-radius: 8px;

  &--mob {
    display: none;
  }

  @include media(md) {
    border: none;
    border-radius: 0px;
    background-color: transparent;
  }

  &-head {
    display: grid;
    padding: 14px 23px;
    grid-template-columns: 90px 1fr 104px 86px 158px 106px 120px;
    gap: 32px;

    @media (max-width: 1280px) {
      gap: 25.5px;
    }

    @include media(md) {
      display: none;
    }

    &__item {
      color: #787486;
      font-size: 12px;
      line-height: 20px;
    }
  }
}

.sending {
  padding: 11px 23px 12px 23px;

  display: grid;
  grid-template-columns: 90px 1fr 104px 86px 158px 106px 120px;
  align-items: center;
  grid-gap: 32px;
  border-top: 1px solid #eaecf1;
  font-size: 16px;
  line-height: 26px;
  text-align: left;
  min-height: 74px;

  &:hover {
    background: linear-gradient(0deg, rgba(245, 245, 246, 0.4), rgba(245, 245, 246, 0.4)), #FFFFFF;
  }

  @media (max-width: 1280px) {
    gap: 11px 25.5px;
  }

  @include media(md) {
    grid-template-columns: 72px 1fr 116px 90px 106px 144px;
    grid-template-rows: auto;
    padding: 10px 24px 11px 24px;;
    border-radius: 6px;
    background-color: var(--white);
    margin-bottom: 16px;
    min-height: 128px;
  }

  @media (max-width: 800px) {
    gap: 12px;
  }
}

.sending-cell {
  font-size: 16px;
  line-height: 26px;

  &__title {
    display: none;

    @include media(md) {
      display: block;
      margin-bottom: 2px;
      font-size: 12px;
      line-height: 20px;
      color: var(--grey);
    }
  }

  @include media(md) {
    font-size: 14px;
    line-height: 24px;

    &:nth-of-type(5) {
      grid-column: span 6;
      width: 100%;
      order: 10;
    }
  }
}

.sending-num{
  font-size: 14px;
  line-height: 24px;

  a {
    font-size: 16px;
    line-height: 26px;
    color: var(--primary);
  }

  @include media(md) {
    font-size: 12px;
    line-height: 20px;


    a {
      font-size: 14px;
      line-height: 24px;
      display: block;
      margin-bottom: 2px;
    }
  }
}

.sending-sert {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sending-comment {

  &.tablet-hide {
    display: block;

    @include media(md)  {
      display: none;
    }
  }

  &.tablet-show {
    display: none;

    @include media(md) {
      display: flex;
    }
  }

  &__info {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__edit {
    flex-shrink: 0;
    cursor: pointer;

    &:hover {
      color: var(--primary);
    }
  }

  &__text {
    cursor: pointer;

    p {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .tooltip {
      min-width: 300px;
      top: 30px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__add {
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--primary);
    cursor: pointer;

    &:hover {
      color: var(--black);
    }
  }

  @include media(md) {
    width: calc(100% + 46px);
    margin: 0 -23px;
    padding: 11px 23px 0 23px;
    border-top: 1px solid var(--border-grey);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;

    &__content {
      font-size: 12px;
      line-height: 20px;

      span {
        color: var(--grey);
      }
    }

    &__btn {
      width: 144px;
      flex-shrink: 0;
    }
  }
}

.sending-recepient {
  overflow: hidden;
  text-overflow: ellipsis;
}


.sending-action {
  display: flex;
  gap: 12px;
  .tooltip {
    top: 42px;
  }

  .action-delete {
    &:hover {
      border-color: var(--red);
      background-color: var(--red);
    }
  }

  .action-complete {
    &:hover {
      border-color: var(--green);
      background-color: var(--green);
    }
  }

  .action-continue {
    &:hover {
      border-color: var(--yellow);
      background-color: var(--yellow);
    }
  }

  @include media(md) {
    .btn--icon {
      width: 40px;
      height: 40px;
    }
  }
}

@include media(sm) {
  .sendings-table {
    display: none;

    &--mob {
      display: block;
    }
  }

  .sendings-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 16px 20px;
    padding: 15px;
    margin-bottom: 12px;
    border: 1px solid var(--border-grey);
    background-color: var(--white);
    border-radius: 8px;

    &.is-open {

      .sendings-item__recepient {
        display: block;
      }

      .sendings-item__comment {
        display: block;
      }

      .sendings-item__sert {

        .sendings-item__cell-content {
          line-clamp: initial;
          -webkit-line-clamp: initial;
          overflow: visible;
          text-overflow: initial;
        }
      }
    }

    &__num {
      color: var(--primary);
    }

    &__comment,
    &__sert,
    &__recepient {
      grid-column: span 2;
    }

    &__sert {
      max-width: 100%;
      width: 100%;
    }

    &__comment {
      max-width: 100%;
      width: 100%;
      margin: 0;
      padding: 0;
      border-top: none;
      order: initial;
      font-size: 14px;
      line-height: 24px;
      display: none;
      padding-bottom: 16px;
      border-bottom: 1px solid var(--border-grey);

      &-edit {
        margin-top: 12px;
      }
    }

    &__recepient {
      display: none;
    }

    &__action {
      display: flex;
      gap: 12px;
      width: 100%;
      grid-column: span 2;

      &-toggle {
        .hide {
          display: none;
        }
      }
    }

    &__sert {
      .sendings-item__cell-content {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  .sendings-item__cell {
    font-size: 14px;
    line-height: 24px;

    &-title {
      display: block;
      font-size: 12px;
      line-height: 20px;
      color: var(--grey);
    }
  }
}

.sendings-panel {
  display: flex;
  gap: 32px;
  margin-bottom: 32px;

  @include media(md) {
    gap: 20px;
  }

  @include media(sm) {
    flex-direction: column;
    gap: 16px;
    margin-bottom: 24px;
  }

  &__item {
    flex: 1;

    &--statuses {

      @include media(sm) {
        display: none;
      }
    }
  }
}

.sendings-panel__statuses {
  display: none;

  @include media(sm) {
    display: flex;
    width: calc(100% + 40px);
    padding: 0 20px;
    margin: 0 -20px;
    overflow: auto;

    &::-webkit-scrollbar {
      display: none;
    }

  }
}

.sendings-panel__status {
  
  padding: 3px 11px;
  border: 1px solid var(--border-grey);
  border-radius: 4px;
  background-color: var(--white);
  white-space: nowrap;
  flex-shrink: 0;
  margin-right: 8px;
  font-size: 14px;
  line-height: 24px;
  display: flex;
  align-items: center;
  gap: 8px;

  svg {
    color: var(--primary);
  }
}


.sendings-pagination {
  margin-top: 32px;
  background-color: var(--white);

  @include media(md) {
    display: none;
  }
}

.text {

  &.is-open {

    .text-hidden {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: initial;
      overflow: visible;
      text-overflow: initial;
    }

    .text-show {
      .show {
        display: none;
      }
  
      .hide {
        display: block;
      }
    }
  }

  .text-hidden {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .text-show {
    display: block;
    margin-top: 4px;
    font-weight: 600;
    color: var(--primary);
    
    .show {
      display: block;
    }

    .hide {
      display: none;
    }
  }
}

.sendings-more {
  display: none;

  @include media(md) {
    text-align: center;
    display: block;
    max-width: 298px;
    margin: 32px auto 0;
  }

  @include media(sm) {
    max-width: 100%;
    width: 100%;
    margin-top: 24px;
  }
}