.sertificat-list {

  @include media(sm) {
    overflow: hidden;
    width: calc(100% + 40px);
    margin: 0 -20px;
    padding: 0 20px;
  }

  .swiper-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;
  
    @include media(md) {
      gap: 24px;
    }
  
    @media(max-width: 992px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @include media(sm) {
      display: flex;
      gap: 0;
    }
  }
}

.sertificat-item {
  position: relative;
  border: 1px solid #eaecf1;
  border-radius: 12px;
  background-color: var(--white);
  padding: 12px;
  display: flex;
  flex-direction: column;
  
  @include media(sm) {
    width: 260px;
    height: auto;
  }

  &__price {
    position: absolute;
    top: 24px;
    left: 24px;
    background: var(--primary);
    padding: 4px 12px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    color: var(--white);
    border-radius: 4px;
  }

  &__img {
    margin-bottom: 4px;

    @include media(md)  {
      margin-bottom: 8px;
    }

    img {
      width: 100%;
      border-radius: 10px;
    }
  }

  &__info {
    padding: 12px;
    display: flex;
    flex-direction: column;
    height: 100%;

    @include media(md)  {
      padding: 8px;
    }
  }

  &__text {
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 26px;

    @include media(md) {
      font-size: 14px;
      line-height: 24px;
    }
  }

  &__bottom {
    display: flex;
    gap: 16px;
    margin: auto 0 0 0;
  }
}
