.new-sertificat-page {
  @include media(md) {
    .page__back {
      display: flex;
    }
  }

  @include media(sm) {
    padding-bottom: 112px;
  }
}

.new-sertificat {
  &__box {
    @include media(md) {
      padding: 23px;

      + .new-sertificat__box {
        margin-top: 16px;
      }
    }

    @include media(sm) {
      padding: 15px;
      + .new-sertificat__box {
        margin-top: 12px;
      }
    }
  }

  &__bottom {
    margin-top: 24px;
  }

  &__title {
    margin-bottom: 16px;
    font-size: 24px;
    line-height: 34px;
    font-weight: 600;

    @include media(md) {
      margin-bottom: 12px;
      font-size: 22px;
      line-height: 32px;
    }

    @include media(sm) {
      font-size: 18px;
      line-height: 28px;
      margin-bottom: 8px;
    }
  }

  &__text {
    font-size: 14px;
    line-height: 24px;
  }

  &__subtitle {
    margin-bottom: 24px;
    font-size: 16px;
    line-height: 26px;

    a {
      color: var(--primary);

      &:hover {
        color: var(--black);
      }
    }

    @include media(md) {
      font-size: 14px;
      line-height: 24px;
    }

    @include media(sm) {
      margin-bottom: 16px;
    }
  }

  &__desc {
    margin-bottom: 32px;
    font-size: 16px;
    line-height: 26px;

    @include media(md) {
      font-size: 14px;
      line-height: 24px;
      margin-bottom: 24px;
    }

    @include media(sm) {
      margin-bottom: 16px;
    }
  }

  &__price {
    display: flex;
    align-items: center;
    margin-top: 24px;

    @include media(md) {
      margin-top: 20px;
    }

    @include media(sm) {
      margin-top: 16px;
      flex-direction: column;
    }
  }

  &__tip {
    font-size: 16px;
    line-height: 26px;
    margin-top: 32px;
    display: flex;
    align-items: center;

    svg {
      color: var(--red);
      flex-shrink: 0;
      margin-right: 16px;
    }

    @include media(md) {
      margin-top: 24px;
      font-size: 14px;
      line-height: 24px;
    }

    @include media(sm) {
      margin-top: 16px;
      align-items: flex-start;

      svg {
        margin-right: 12px;
      }
    }
  }

  &__bottom {
    @include media(sm) {
      padding: 0;
      background-color: transparent;
      border: none;
      border-radius: 0px;
      margin-top: 24px !important;
    }
  }

  &__create {
    @include media(sm) {
      padding: 7px;
      font-size: 14px;
      line-height: 24px;

      svg {
        width: 16px;
        height: 16px;
      }
    }
  }

  &__upload {
    @include media(sm) {
      padding: 7px;
      font-size: 14px;
      line-height: 24px;

      svg {
        width: 16px;
        height: 16px;
      }
    }
  }

  .dropdown-list {
    max-width: 180px;
    margin-left: 24px;

    @include media(sm) {
      max-width: 100%;
      margin: 12px 0 0 0;
    }
  }

  .form-control {
    @include media(md) {
      + .form-control {
        margin-top: 16px;
      }
    }
  }
}

.contacts {

  &-list {
    @include media(sm) {
      margin-top: 16px;
    }
  }

  &-item {

    display: flex;
    gap: 20px;
  
    + .contacts-item {
      margin-top: 24px;
    }
  
  
    &__link {
      width: 100%;
    }
  
    &__remove {
      flex-shrink: 0;
    }
  
    &__type {
      max-width: 106px;
      width: 100%;

      @include media(md) {
        max-width: 90px;
      }
    }

    @include media(md) {
      + .contacts-item {
        margin-top: 20px;
      }
    }

    @include media(sm) {
      background: rgba(245, 245, 246, 0.5);
      border: 1px solid #eaecf1;
      border-radius: 4px;
      padding: 11px;
      flex-wrap: wrap;
      gap: 12px;
      
      + .contacts-item {
        margin-top: 12px;
      }
    }

    &__type {
      @include media(sm) {
        max-width: 100%;
        width: calc(50% - 6px);
      }
    }

    &__remove {
      @include media(sm) {
        max-width: 100%;
        width: calc(50% - 6px);
        order: 2;
        padding: 11px;
        min-height: 40px;
      }
    }

    &__link {
      @include media(sm) {
        order: 3;
      }
    }

    .dropdown-list {
      margin: 0 !important;
    }
  }

  &__add {
    margin-top: 24px;

    @include media(sm) {
      margin-top: 16px;
      padding: 7px;
      font-size: 14px;
      line-height: 24px;

      svg {
        width: 16px;
        height: 16px;
      }
    }
  }
}

.photo {
  &-preview {
    margin-top: 24px;
    display: flex;
    justify-content: center;
    padding: 23px;
    background: rgba(245, 245, 246, 0.5);
    border: 1px solid #eaecf1;
    border-radius: 8px;

    @include media(sm) {
      margin-top: 16px;
    }
  }

  &-action {
    margin-top: 24px;
    display: flex;
    gap: 20px;

    @include media(sm) {
      flex-direction: column;
      gap: 12px;
      margin-top: 16px;
    }
  }


  &__add {
    @include media(sm) {
      padding: 7px;
      font-size: 14px;
      line-height: 24px;

      svg {
        width: 16px;
        height: 16px;
      }
    }
  }
}
