* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Gilroy', Arial, Helvetica, sans-serif;
  font-weight: 500;
  color: var(--black);
  background-color: #F5F5F5;
}

ul {
  padding-left: 0;
  list-style: none;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: currentColor;
}

h1,h2,h3,h4,h5 {
  margin: 0;
  padding: 0;
}

main {
  min-height: 100vh;
}

.container {
  max-width: 1200px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

select {
  display: none;
}

.mob-hidden {
  @media(max-width: 767px) {
    display: none;
  }
}

.desc-hidden {
  display: none;

  @media(max-width: 767px) {
    display: inline-block;
  }
}